.landing__btns {
    gap: 1rem;
}

.landing__btns a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dominant-color);
    background-color: var(--secondary-color);
    border-radius: 0.3rem;
    padding: 0.5rem;
    transition: all 300ms ease-in;
}

.landing__btns a:hover {
    opacity: 0.8;
}