.create__post {
  max-width: 720px;
  margin: auto;
  justify-content: flex-start;
  gap: 1rem;
  margin-block: 0.4rem;
  border-bottom: 1px dashed lightgrey;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
}
.create__post p {
  width: 100%;
  border-radius: 0.8rem;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  cursor: pointer;
  border: 1px solid lightgrey;
}
