.filter__comp {
  margin: auto;
  padding-block: 0.8rem;
  background-color: var(--secondary-color);
}
.filter__comp form {
  border-radius: 0.8rem;
  padding: 0.3rem;
  background-color: var(--white-color);
  box-shadow: 2px 2px var(--shadow-color);

  width: 100%;
  transition: all 300ms ease-in;
  pointer-events: none;
}
.filter__comp > form > input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.1rem;
  pointer-events: all;
}
