.friends__wrapper {
  width: min(100%, 925px);
  margin-inline: auto;
  display: grid;
  gap: 0.5rem;
  padding: 0.8rem;
}

.friends__search {
  margin-block: 0.8rem;
}
.friends {
  display: grid;
  gap: 0.8rem;
}
.friend__request {
  display: grid;
  grid-template-columns: 1fr auto;
}

.friend__active{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}