@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.cursor__pointer {
  cursor: pointer;
}

:root {
  --accent-color: #4242e7c7;
  --hover-color: #3131ebc7;
  --secondary-color: rgb(240, 240, 240);
  --white-color: white;
  --red-color: red;
  --shadow-color: #888888;
  --success-color: rgb(46, 133, 46);
}

body {
  font-family: "Poppins", sans-serif;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 0;
  outline: 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
@keyframes slideIn {
  0% {
    transform: translateY(-10%);
    scale: 0;
  }
  100% {
    scale: 1;
    transform: translateY(0%);
  }
}
@keyframes opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
