@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --accent-color: #5c79ff;
  --hover-color: #4c6cf7;
  --secondary-color: rgb(240, 240, 240);
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
