* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cursor__pointer {
  cursor: pointer;
}

:root {
  --black-color: black;
  --hover-color: #3131ebc7;
  --danger-color: red;
  --dominant-color: white;
  --primary-color: #d4d0d0;
  --secondary-color: #4242e7c7;
  --success-color: rgb(46, 133, 46);
}

body {
  background-color: var(--dominant-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 0;
  outline: 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
@keyframes slideIn {
  0% {
    transform: translateY(-10%);
    scale: 0;
  }
  100% {
    scale: 1;
    transform: translateY(0%);
  }
}
@keyframes opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
