header {
  background-color: var(--accent-color);
  color: var(--white-color);
  flex-wrap: wrap;
}
.banner {
  gap: 0.8rem;
  flex: 3;
}
.banner a {
  text-decoration: none;
  color: var(--white-color);
}
