.message__info {
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: var(--white-color);
  text-align: center;
  background-color: var(--success-color);
}
.isError {
  background-color: rgb(231, 68, 68);
}
