.profile__status {
  font-weight: 600;
}
.profile__left {
  text-align: center;
  background-color: var(--dominant-color);
  border: 1px solid var(--primary-color);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.profile__email {
  font-size: 0.9rem;
  color: var(--primary-color);
}
.common__profileList {
  list-style: none;
}
.cursor__pointer {
  cursor: pointer;
}
